<h2 class="page-header">Edit User</h2>

<%= bootstrap_form_for @user, layout: :horizontal, control_col: "col-sm-9", url: organization_user_path do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.email_field :email %>
  <%= f.check_box :is_student, label: "Student?" %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>
