<h2 class="page-header"><%= t('users.edit') %></h2>

<%= bootstrap_form_for @user, layout: :horizontal, control_col: "col-sm-9", url: organization_user_path do |f| %>
  <%= f.text_field :first_name, label: t('users.first_name') %>
  <%= f.text_field :last_name, label: t('users.last_name') %>
  <%= f.email_field :email, label: t('users.email') %>
  <%= f.check_box :is_student, label: t('users.student_question') %>
  <%= f.password_field :password, label: t('users.password') %>
  <%= f.submit %>
<% end %>
