<div class="hero">
  <h1>Simulation Made Easy</h1>
  <p>Hassle free simulation center management system that lets you stay focused on training the future of the medical community.</p>
  <p><a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a></p>
</div>

<div id="about">
  <div class="nav-buffer"></div>
  <%= render "about" %>
</div>

<div class="row organizations">
  <%= render "organizations" %>
</div><!-- /.row -->

<div id="pricing">
  <div class="nav-buffer"></div>
  <%= render "pricing" %>
</div>

<div id="faq">
  <div class="nav-buffer"></div>
  <%= render "faq" %>
</div>

<div id="contact">
  <%= render "contact" %>
</div>

<footer>
  <p class="pull-right">
    <a href="#">Back to top</a>
  </p>
  <p>&copy; 2016 SimCentered.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


