<div class="top">
  <h1>Simulation Made Easy</h1>
  <p>Hassle free simulation center management system that lets you stay focused on training the future of the medical community.</p>
  <p><a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a></p>
</div>

<div id="about">
  <div class="nav-buffer"></div>
  <%= render "about" %>
</div>

<!-- <div id="empty"></div> -->

<div class="row organizations">
  <div class="col-lg-4">
    <%= image_tag("med-books", class: "img-circle", style: "width: 140px; height: 140px;") %>
    <h2>Medical Schools</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag("nursing-classroom", class: "img-circle", style: "width: 140px; height: 140px;") %>
    <h2>Nursing Schools</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag("hospital", class: "img-circle", style: "width: 140px; height: 140px;") %>
    <h2>Hospitals</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div id="pricing">
  <div class="nav-buffer"></div>
  <%= render "pricing" %>
</div>
<div id="faq">
  <div class="nav-buffer"></div>
  <%= render "faq" %>
</div>
<div id="contact">
  <%= render "contact" %>
</div>

<footer>
  <p class="pull-right">
    <a href="#">Back to top</a>
  </p>
  <p>&copy; 2016 SimCentered.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


