<% @events.each do |event| %>
<tr>
  <td><%= link_to event.title, organization_event_path(event.organization_id, event.id) %></td>
  <td><%= event.start.strftime("%b %e @ %l:%M %p") %></td>
  <td><%= event.finish.strftime("%b %e @ %l:%M %p") %></td>
  <td class='icon'><%= link_to edit_organization_event_path(event.organization_id, event.id), class: "glyphicon" do %>
    <i class="fa fa-pencil-square-o fa-lg"></i>
  <% end %>
  </td>
  <td class='icon'><%= link_to organization_event_path(event.organization_id, event.id), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "glyphicon" do %>
    <i class="fa fa-trash-o fa-lg"></i>
  <% end %>
  </td>
</tr>
<% end %>