<% if @events.empty? %>
  <tr>
    <td class="none-added">No events scheduled</td>
    <td></td>
    <td></td>
    <td class='icon'></td>
  </tr>
<% else %>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, organization_event_path(event.organization_id, event.id) %></td>
      <td><%= event.start.strftime("%b %e @ %l:%M %p") %></td>
      <td><%= event.finish.strftime("%b %e @ %l:%M %p") %></td>

      <td class='icon'>
        <%= link_to organization_event_path(event.organization_id, event.id), method: :delete, data: { confirm: t('events.are_you_sure') } do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <% end %>
        <!-- <a href="#" data-toggle="modal" data-target="#deleteEventModal" data-event-title="<%= event.title %>" data-event-id="<%= event.id %>"><i class="fa fa-trash-o fa-lg"></i></a> -->
      </td>
    </tr>
  <% end %>
<% end %>