<tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><i class="fa fa-users"></i> <%= course.title %></td>
      <td class="icon"><a href="<%= @event.id %>/add_course" data-course-id="<%= course.id %>" class="add-course"><i class="fa fa-plus"></i></a></td>
    </tr>
  <% end %>

  <% @students.each do |student| %>
  <tr>
    <td><i class="fa fa-user-md"></i> <%= full_name(student) %></td>
    <td class="icon">
      <% if student.busy %>
        <i class="fa fa-ban busy" data-toggle="tooltip" data-placement="left" title="Busy"></i>
      <% else %>
        <a href="<%= @event.id %>/add_student" data-student-id="<%= student.id %>" class="add-student">
          <i class="fa fa-plus"></i>
        </a>
      <% end %>
    </td>
  </tr>
  <% end %>

  <% @rooms.each do |room| %>
  <tr>
    <td><i class="fa fa-hospital-o"></i> <%= room.title %></td>
    <td class="icon">
      <% if room.busy %>
        <i class="fa fa-ban busy" data-toggle="tooltip" data-placement="left" title="In Use"></i>
      <% else %>
        <a href="<%= @event.id %>/add_room" data-room-id="<%= room.id %>" class="add-room">
          <i class="fa fa-plus"></i>
        </a>
      <% end %>
    </td>
  </tr>
  <% end %>

  <% @items.each do |item| %>
  <tr>
    <td><i class="fa fa-barcode"></i> <%= item.title %></td>

    <td class="icon">
      <% if item.busy %>
        <i class="fa fa-ban busy" data-toggle="tooltip" data-placement="left" title="In Use"></i>
      <% else %>
        <a href="<%= @event.id %>/add_item" data-item-id="<%= item.id %>" data-item-disposable="<%= item.disposable %>" class="add-item">
          <i class="fa fa-plus"></i>
        </a>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>