<h1>Events#edit</h1>
<p>Find me in app/views/events/edit.html.erb</p>

<%= form_for @event, url: organization_event_path do |f| %>
  Title: <%= f.text_field :title %>
  Date: <%= f.date_field :date %>
  Time: <%= f.time_field :time %>
  <%= f.submit %>
<% end %>