
<h2 class="page-header">Events</h2>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/search" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="s" name="q" type="text">
        </div>
        <button type="submit" class="btn btn-default" name="commit">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right" data-toggle="tooltip" data-placement="top" title="New Room">
        <%= link_to new_organization_event_path(@organization, @event), class: "btn btn-primary navbar-btn" do %>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, organization_event_path(event.organization_id, event.id) %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= link_to edit_organization_event_path(event.organization_id, event.id), class: "glyphicon" do %>
          <i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>
        <% end %>
        </td>
        <td><%= link_to organization_event_path(event.organization_id, event.id), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "glyphicon" do %>
          <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>