<% content_for :title, "Events" %>

<h2 class="page-header">Calendar
  <small>
  <span class="pull-right">
    <a href="#" class="header-icon-right" data-toggle="modal" data-target="#newEventModal">
      <i class="fa fa-plus fa-lg"></i>
    </a>
  </span>
  </small>
</h2>

<div id='calendar'></div>

<h2 class="page-header">All Events
  <small>
    <div id="search-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="event-search" type="text" class="form-control search" placeholder="Search">
      </div>
    </div>
    <span class="pull-right">
      <a href="#" class="header-icon-right" data-toggle="modal" data-target="#newEventModal">
        <i class="fa fa-plus fa-lg"></i>
      </a>
    </span>
  </small>
</h2>

<%= will_paginate @events %>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Event</th>
          <th>Start</th>
          <th>End</th>
          <th class='icon'><%= t('crud.delete') %></th>
        </tr>
      </thead>
      <tbody id="events-index">
        <%= render 'all_events' %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a New Event</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @new_event, layout: :horizontal, control_col: "col-sm-9", url: organization_events_path do |f| %>
          <%= f.text_field :title %>
          <%= f.select(:instructor_id, @faculty) %>
          <%= f.datetime_select :start, :ampm => true, :minute_step => 15, :order => [:month, :day, :year] %>
          <%= f.datetime_select :finish, :ampm => true, :minute_step => 15, :order => [:month, :day, :year] %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="editEventModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit Event</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteEventModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Delete Event</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Yes, delete it</button>
      </div>
    </div>
  </div>
</div> -->