<h2 class="page-header">Calendar
  <small>
  <span class="pull-right">
    <%= link_to new_organization_event_path(@organization, @event), class: "btn btn-default" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </span>
  </small>
</h2>

<div id='calendar'></div>

<div id="search-parent">
  <label for="search">
    <i class="fa fa-search"></i>
  </label>
  <div class="form-group">
    <input type="text" class="form-control search" placeholder="Search">
  </div>
</div>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event</th>
          <th>Start</th>
          <th>End</th>
          <th class='icon'>Edit</th>
          <th class='icon'>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.title, organization_event_path(event.organization_id, event.id) %></td>
          <td><%= event.start.strftime("%m-%e-%g %l:%M %p") %></td>
          <td><%= event.end.strftime("%m-%e-%g %l:%M %p") %></td>
          <td class='icon'><%= link_to edit_organization_event_path(event.organization_id, event.id), class: "glyphicon" do %>
            <i class="fa fa-pencil-square-o fa-lg"></i>
          <% end %>
          </td>
          <td class='icon'><%= link_to organization_event_path(event.organization_id, event.id), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "glyphicon" do %>
            <i class="fa fa-trash-o fa-lg"></i>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
