<% content_for :title, " | #{@event.title}" %>

<h2 class="page-header">
  <%= link_to organization_events_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left"></i>
  <% end %>
  <%= @event.title %>
  <small> - <%= @event.start.strftime("%a %b %e, %g at %l:%M %p %Z") %>
  <span class="pull-right">
    <%= link_to 'Edit', edit_organization_event_path(@event.organization_id, @event.id) %>
    <%= link_to 'Delete', organization_event_path(@event.organization_id, @event.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  </small>
</h2>

<p>Instructor: <%= full_name(@event.instructor) if @event.instructor %></p>
<p><%= link_to "Done", organization_event_path(@event.organization_id, @event.id) %></p>

<div class="row col-md-12">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Available Students
        </div>
      </div>
      <div class="display-table">
        <table id="available-students" class="table table-hover">
          <%= render 'available_students' %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title">
          Scheduled Students
        </div>
      </div>
      <div class="display-table">
        <table id="scheduled-students" class="table table-condensed">
          <%= render 'scheduled_students' %>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Available Rooms
        </div>
      </div>
      <div class="display-table">
        <table id="available-rooms" class="table table-hover">
          <%= render 'available_rooms' %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title">
          Scheduled Rooms
        </div>
      </div>
      <div class="display-table">
        <table id="scheduled-rooms" class="table table-condensed">
          <%= render 'scheduled_rooms' %>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          Available Items
        </div>
      </div>
      <div class="display-table">
        <table id="available-items" class="table table-hover">
          <%= render 'available_items' %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title">
          Scheduled Inventory
        </div>
      </div>
      <div class="display-table">
        <table id="scheduled-items" class="table table-condensed">
          <%= render 'scheduled_items' %>
        </table>
      </div>
    </div>
  </div>
</div>