<h2 class="page-header">Create a New Event</h2>

<%= bootstrap_form_for @event, url: organization_events_path do |f| %>
  <%= f.text_field :title %>
  <%= f.date_field :date %>
  <%= f.time_field :time %>
  <%= f.submit %>
<% end %>