<h2 class="page-header">Create a New Event</h2>

<%= bootstrap_form_for @event, url: organization_events_path do |f| %>
  <%= f.text_field :title %>
  <%= f.date_field :date %>
  <%= f.time_field :time %>
  <%= f.submit %>
<% end %>

<div id="add-students" class="row col-md-12">
  <div id="event_students" class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Add Students <input type="text" placeholder="Search" class=""></div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to "#{user.first_name} #{user.last_name}", organization_user_path(user.organization_id, user.id) %></td>
            <td><%= user.email %></td>
            <td><%= link_to organization_user_path(user.organization_id, user.id), method: :delete, data: { confirm: 'Are you sure you want to delete this user?' }, class: "glyphicon" do %>
              <i class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Delete"></i>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="add-rooms" class="row col-md-12">
  <div id="event_students" class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Add Rooms <input type="text" placeholder="Search" class=""></div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Room</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
          <tr>
            <td><%= link_to room.title, organization_room_path(room.organization_id, room.id) %></td>
            <td><%= link_to organization_room_path(room.organization_id, room.id), method: :delete, data: { confirm: 'Are you sure you want to delete this room?' }, class: "glyphicon" do %>
              <i class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Delete"></i>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="add-items" class="row col-md-12">
  <div id="event_students" class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Add Items <input type="text" placeholder="Search" class=""></div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Available</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.title, organization_item_path(item.organization_id, item.id) %></td>
            <td><input type="text" placeholder="<%= item.quantity %> available"></td>
            <td><%= item.quantity %></td>
            <td><%= link_to organization_item_path(item.organization_id, item.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: "glyphicon" do %>
              <i class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Delete"></i>
            <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>