<% content_for :title, "#{@event.title}" %>

<h2 class="page-header">
  <%= link_to organization_events_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left fa-lg"></i>
  <% end %>
  <i class="fa fa-calendar"></i>
  <%= @event.title %>
  <small>
  <span class="pull-right">
    <a href="#" class="header-icon-right" data-toggle="modal" data-target="#editEventModal">
      <%= t('crud.edit') %> <i class="fa fa-pencil"></i>
    </a>
    <%= link_to t('crud.delete'), organization_event_path(@event.organization_id, @event.id), method: :delete, data: { confirm: t('events.are_you_sure') }, class: 'header-icon-right' %>
  </span>
  </small>
</h2>

<div class="row col-md-12 details">
  <h4><%= t('events.instructor') %>: <small><%= full_name(@event.instructor) if @event.instructor %></small></h4>
  <h4><%= t('events.start') %>: <small><%= @event.start.strftime("%a %b %e, %g @ %l:%M %p %Z") %></small></h4>
  <h4><%= t('events.end') %>: <small><%= @event.finish.strftime("%a %b %e, %g @ %l:%M %p %Z") %></small></h4>
</div>

<div class="row col-md-12">
  <div id="search-n-go-parent">
    <label for="search">
      <i class="fa fa-search"></i>
    </label>
    <div class="form-group">
      <input id="<%= @event.id %>" type="text" class="form-control search-n-go modify-search" placeholder="<%= t('events.add_all') %>">
    </div>
    <div class="search-results">
      <table class="table table-hover modify-search">
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    Courses
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t('courses.course') %></th>
            <th class="icon"><%= t('crud.remove') %></th>
          </tr>
        </thead>
        <tbody id="event-show-courses">
          <tr style="<%= "display: none;" unless @event.courses.empty? %>">
            <td class="none-added"><%= t('courses.none_added') %></td>
            <td class="icon"></td>
          </tr>
          <% @event.courses.each do |course| %>
            <%= render partial: 'scheduled_course', locals: { course: course } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
  <h3 class="page-header">
    <%= t('users.students') %>
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t('user.student') %></th>
            <th class="icon"><%= t('crud.remove') %></th>
          </tr>
        </thead>
        <tbody id="event-show-students">
          <tr style="<%= "display: none;" unless @event.students.empty? %>">
            <td class="none-added"><%= t('users.none_added_students') %></td>
            <td class="icon"></td>
          </tr>
          <% @event.students.each do |student| %>
            <%= render partial: 'scheduled_student', locals: { student: student } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    <%= t('rooms.self') %>
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t('rooms.room') %></th>
            <th class="icon"><%= t('crud.remove') %></th>
          </tr>
        </thead>
        <tbody id="event-show-rooms">
          <tr style="<%= "display: none;" unless @event.rooms.empty? %>">
            <td class="none-added"><%= t('rooms.none_added') %></td>
            <td class="icon"></td>
          </tr>
          <% @event.rooms.each do |room| %>
            <%= render partial: 'scheduled_room', locals: { room: room } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    <%= t('inventory.items') %>
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t('inventory.item') %></th>
            <th><%= t('inventory.quantity') %></th>
            <th class="icon"><%= t('crud.remove') %></th>
          </tr>
        </thead>
        <tbody id="event-show-items">
          <tr style="<%= "display: none;" unless @event.items.empty? %>">
            <td class="none-added"><%= t('inventory.none_added') %></td>
            <td></td>
            <td class="icon"></td>
          </tr>
          <% @event.items.each do |item| %>
            <%= render partial: 'scheduled_item', locals: { item: item } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('events.edit') %></h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @event, layout: :horizontal, control_col: "col-sm-9", url: organization_event_path do |f| %>
          <%= f.text_field :title, label: t('events.event') %>
          <%= f.select(:instructor_id, @faculty) %>
          <%= f.datetime_select :start, label: t('events.start'), :ampm => true, :minute_step => 15, :order => [:month, :day, :year] %>
          <%= f.datetime_select :finish, label: t('events.end'), :ampm => true, :minute_step => 15, :order => [:month, :day, :year] %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script id="scheduled_student" type="text/x-handlebars-template">
  <tr>
    <td>{{name}}</td>
    <td class="icon">
      <a href="{{eventId}}/remove_student" data-student-id="{{studentId}}" class="remove-student">
        <i class="fa fa-minus"></i>
      </a>
    </td>
  </tr>
</script>

<script id="scheduled_course" type="text/x-handlebars-template">
  <tr>
    <td>{{title}}</td>
    <td class="icon">
      <a href="{{eventId}}/remove_course" data-course-id="{{courseId}}" class="remove-course">
        <i class="fa fa-minus"></i>
      </a>
    </td>
  </tr>
</script>