<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%= @event.title %>
<%= @event.date %>
<%= @event.time %>
<%= link_to 'Edit', edit_organization_event_path(@event.organization_id, @event.id) %>
<%= link_to 'Delete', organization_event_path(@event.organization_id, @event.id), method: :delete, data: { confirm: 'Are you sure?' } %>
