<% content_for :title, "#{@event.title}" %>

<h2 class="page-header">
  <%= link_to organization_events_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left fa-lg"></i>
  <% end %>
  <i class="fa fa-calendar"></i>
  <%= @event.title %>
  <small>
  <span class="pull-right">
    <a href="#" class="header-icon-right" data-toggle="modal" data-target="#editEventModal">
      Edit <i class="fa fa-pencil"></i>
    </a>
    <%= link_to 'Delete', organization_event_path(@event.organization_id, @event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'header-icon-right' %>
  </span>
  </small>
</h2>

<div class="row col-md-12 details">
  <h4>Instructor: <small><%= full_name(@event.instructor) if @event.instructor %></small></h4>
  <h4>Start Time: <small><%= @event.start.strftime("%a %b %e, %g @ %l:%M %p %Z") %></small></h4>
  <h4>End Time: <small><%= @event.finish.strftime("%a %b %e, %g @ %l:%M %p %Z") %></small></h4>
</div>

<div class="row col-md-12">
  <div id="search-n-go-parent">
    <label for="search">
      <i class="fa fa-search"></i>
    </label>
    <div class="form-group">
      <input id="<%= @event.id %>" type="text" class="form-control search-n-go modify-search" placeholder="Add Courses, Students, Rooms and Inventory">
    </div>
    <div class="search-results">
      <table class="table table-hover modify-search">
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    Courses
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Course</th>
            <th class="icon">Remove</th>
          </tr>
        </thead>
        <tbody id="event-show-courses">
          <tr style="<%= "display: none;" unless @event.courses.empty? %>">
            <td class="none-added">No courses have been added</td>
            <td class="icon"></td>
          </tr>
          <% @event.courses.each do |course| %>
            <%= render partial: 'scheduled_course', locals: { course: course } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    Students
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Student</th>
            <th class="icon">Remove</th>
          </tr>
        </thead>
        <tbody id="event-show-students">
          <tr style="<%= "display: none;" unless @event.students.empty? %>">
            <td class="none-added">No students have been added</td>
            <td class="icon"></td>
          </tr>
          <% @event.students.each do |student| %>
            <%= render partial: 'scheduled_student', locals: { student: student } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    Rooms
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Room</th>
            <th class="icon">Remove</th>
          </tr>
        </thead>
        <tbody id="event-show-rooms">
          <tr style="<%= "display: none;" unless @event.rooms.empty? %>">
            <td class="none-added">No rooms have been added</td>
            <td class="icon"></td>
          </tr>
          <% @event.rooms.each do |room| %>
            <%= render partial: 'scheduled_room', locals: { room: room } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <h3 class="page-header">
    Items
  </h3>

  <% #will_paginate @students %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th class="icon">Remove</th>
          </tr>
        </thead>
        <tbody id="event-show-items">
          <tr style="<%= "display: none;" unless @event.items.empty? %>">
            <td class="none-added">No items have been added</td>
            <td></td>
            <td class="icon"></td>
          </tr>
          <% @event.items.each do |item| %>
            <%= render partial: 'scheduled_item', locals: { item: item } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Event</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @event, layout: :horizontal, control_col: "col-sm-9", url: organization_event_path do |f| %>
          <%= f.text_field :title %>
          <%= f.select(:instructor_id, @faculty) %>
          <%= f.datetime_select :start, :ampm => true, :minute_step => 15, :order => [:month, :day, :year] %>
          <%= f.datetime_select :finish, :ampm => true, :minute_step => 15, :order => [:month, :day, :year] %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>