<h2 class="page-header">
  <%= @event.title %>
  <small> - <%= @event.date %> at <%= @event.time %>
  <span class="pull-right">
    <%= link_to 'Edit', edit_organization_event_path(@event.organization_id, @event.id) %>
    <%= link_to 'Delete', organization_event_path(@event.organization_id, @event.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  </small>
</h2>

<p>Instructor: <%=  %></p>

<div class="row col-md-12">
  <div id="student-selector" class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Students</div>
      </div>
      <div class="event-students-table">
      <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead> -->
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name%> <%= user.last_name %></td>
            <td><i class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Add"></i></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div id="selected-students" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left"> Scheduled Students - <%= @event.users.count %></div>
        <div class="pull-right">
          <a id="schedule-students" href="#"><i class="glyphicon glyphicon-option-horizontal" data-toggle="tooltip" data-placement="top" title="Add"></i></a>
        </div>
      </div>
      <table class="table table-condensed">
        <!-- <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead> -->
        <tbody>
          <% @event.users.each do |user| %>
          <tr>
            <td><%= user.first_name%> <%= user.last_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="room-selector" class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Rooms</div>
      </div>
      <div class="event-students-table">
      <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead> -->
        <tbody>
          <% @rooms.each do |room| %>
          <tr>
            <td><%= room.title%></td>
            <td><i class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Add"></i></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div id="selected-rooms" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left"> Scheduled Rooms - <%= @event.rooms.count %></div>
        <div class="pull-right">
          <a id="schedule-rooms" href="#"><i class="glyphicon glyphicon-option-horizontal" data-toggle="tooltip" data-placement="top" title="Add"></i></a>
        </div>
      </div>
      <table class="table table-condensed">
        <!-- <thead>
          <tr>
            <th>Room</th>
          </tr>
        </thead> -->
        <tbody>
          <% @event.rooms.each do |room| %>
          <tr>
            <td><%= room.title %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="item-selector" class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Items</div>
      </div>
      <div class="event-students-table">
      <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead> -->
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td><i class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="top" title="Add"></i></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <div id="selected-items" class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left"> Scheduled Inventory - <%= @event.items.count %></div>
        <div class="pull-right">
          <a id="schedule-items" href="#"><i class="glyphicon glyphicon-option-horizontal" data-toggle="tooltip" data-placement="top" title="Add"></i></a>
        </div>
      </div>
      <table class="table table-condensed">
        <!-- <thead>
          <tr>
            <th>Item</th>
            <th>Qty</th>
          </tr>
        </thead> -->
        <tbody>
          <% @event.items.each do |item| %>
          <tr>
            <td><%= item.title %></td>
            <td><%= item.quantity %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>