<h2 class="page-header">Edit Room</h2>

<%= bootstrap_form_for @room, layout: :horizontal, control_col: "col-sm-9", url: room_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :number %>
  <%= f.text_field :building %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>