<h2 class="page-header">Edit Room</h2>

<%= bootstrap_form_for @room, url: organization_room_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :number %>
  <%= f.text_field :building %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>