<h2 class="page-header">Create a New Room</h2>

<%= bootstrap_form_for @room, url: organization_rooms_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :number %>
  <%= f.text_field :building %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>