<h2 class="page-header">Create a New Room</h2>

<%= form_for @room, url: organization_rooms_path do |f| %>
  Title: <%= f.text_field :title %>
  Room Number: <%= f.text_field :number %>
  Building: <%= f.text_field :building %>
  Description: <%= f.text_area :description %>
  <%= f.submit %>
<% end %>