<% content_for :title, "#{@room.title}" %>

<h2 class="page-header">
  <%= link_to organization_rooms_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left fa-lg"></i>
  <% end %>
  <i class="fa fa-hospital-o"></i>
  <%= @room.title %>
  <small>
  <span class="pull-right">
    <a href="#" class="header-icon-right" data-toggle="modal" data-target="#editRoomModal">
      <i class="fa fa-pencil fa-lg" data-toggle="tooltip" data-placement="left" title="<%= t('crud.edit') %>"></i>
    </a>
    <%= link_to organization_room_path(@room.organization_id, @room.id), method: :delete, data: { confirm: t('rooms.are_you_sure') }, class: 'header-icon-right' do %>
        <i class="fa fa-trash fa-lg" data-toggle="tooltip" data-placement="right" title="<%= t('crud.delete') %>"></i>
      <% end %>
  </span>
  </small>
</h2>


<div class="row col-md-12 details">
  <h4><%= t('rooms.number') %>: <small><%= @room.number %></small></h4>
  <h4><%= t('rooms.building') %>: <small><%= @room.building %></small></h4>
  <h4><%= t('rooms.description') %>: <small><%= @room.description %></small></h4>
</div>

<div>
  <h3 class="page-header">
    <%= t('rooms.schedule') %>
  </h3>

  <%= will_paginate @events %>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= t('events.event') %></th>
            <th><%= t('events.start') %></th>
            <th><%= t('events.end') %></th>
          </tr>
        </thead>
        <tbody id="events-index">
          <% if @events.empty? %>
            <tr>
              <td class="none-added"><%= t('events.nothing_scheduled') %></td>
              <td></td>
              <td></td>
            </tr>
          <% else %>
            <% @events.each do |event| %>
              <tr>
                <td><%= link_to event.title, organization_event_path(event.organization_id, event.id) %></td>
                <td><%= event.start.strftime("%b %e @ %l:%M %p") %></td>
                <td><%= event.finish.strftime("%b %e @ %l:%M %p") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('rooms.edit') %></h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @room, layout: :horizontal, control_col: "col-sm-9", url: organization_room_path do |f| %>
          <%= f.text_field :title %>
          <%= f.text_field :number, label: t('rooms.number') %>
          <%= f.text_field :building, label: t('rooms.building') %>
          <%= f.text_area :description, label: t('rooms.description') %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>