<% content_for :title, "#{@room.title}" %>

<h2 class="page-header">
  <%= link_to organization_rooms_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left fa-lg"></i>
  <% end %>
  <i class="fa fa-hospital-o"></i>
  <%= @room.title %>
  <small>
  <span class="pull-right">
    <a href="#" class="header-icon-right" data-toggle="modal" data-target="#editRoomModal">
      <%= t('crud.edit') %> <i class="fa fa-pencil"></i>
    </a>
    <%= link_to t('crud.delete'), organization_room_path(@room.organization_id, @room.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'header-icon-right' %>
  </span>
  </small>
</h2>


<div class="row col-md-12 details">
  <h4>Room Number: <small><%= @room.number %></small></h4>
  <h4>Building: <small><%= @room.building %></small></h4>
  <h4>Description: <small><%= @room.description %></small></h4>
</div>

<div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Room</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @room, layout: :horizontal, control_col: "col-sm-9", url: organization_room_path do |f| %>
          <%= f.text_field :title %>
          <%= f.text_field :number %>
          <%= f.text_field :building %>
          <%= f.text_area :description %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>