<% content_for :title, " | #{@room.title}" %>

<h2 class="page-header">
  <%= link_to organization_rooms_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left fa-lg"></i>
  <% end %>
  <i class="fa fa-hospital-o"></i>
  <%= @room.title %>
  <small>
  <span class="pull-right">
    <%= link_to 'Edit', edit_organization_room_path(@room.organization_id, @room.id) %>
    <%= link_to 'Delete', organization_room_path(@room.organization_id, @room.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  </small>
</h2>


<div class="row col-md-12 details">
  <h4>Room Number: <%= @room.number %></h4>
  <h4>Building: <%= @room.building %></h4>
  <h4>Description: <%= @room.description %></h4>
</div>