
<h2 class="page-header"><i class="fa fa-barcode"></i> Inventory</h2>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/search" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="s" name="q" type="text">
        </div>
        <button type="submit" class="btn btn-default" name="commit">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right" data-toggle="tooltip" data-placement="top" title="New Item">
        <%= link_to new_organization_item_path(@organization, @item), class: "btn btn-primary navbar-btn" do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Item &nbsp;<i class="fa fa-sort"></i></th>
          <th>Quantity</th>
          <th>Disposable?</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.title, organization_item_path(item.organization_id, item.id) %></td>
          <td><%= item.quantity %></td>
          <td>
            <% if item.disposable %>
              <i class="glyphicon glyphicon-ok"></i>
            <% else %>
            <% end %>
          </td>
          <td><%= link_to edit_organization_item_path(item.organization_id, item.id), class: "glyphicon" do %>
            <i class="fa fa-pencil-square-o fa-lg"></i>
          <% end %>
          </td>
          <td><%= link_to organization_item_path(item.organization_id, item.id), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, class: "glyphicon" do %>
            <i class="fa fa-trash-o fa-lg"></i>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="download" class="btn-group pull-right">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Download <i class="fa fa-download"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a href="">... as Excel <i class="fa fa-file-excel-o fa-lg"></i></a></li>
    <li><a href="">... as PDF <i class="fa fa-file-pdf-o fa-lg"></i></a></li>
  </ul>
</div>
