<h2 class="page-header">Create a New Item</h2>

<%= bootstrap_form_for @item, layout: :horizontal, control_col: "col-sm-9", url: organization_items_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :quantity %>
  <%= f.check_box :disposable %>
  <%= f.submit %>
<% end %>