<h2 class="page-header">Create a New Item</h2>

<%= bootstrap_form_for @item, layout: :horizontal, control_col: "col-sm-9", url: organization_items_path do |f| %>
  <%= f.text_field :title, label: t('inventory.item') %>
  <%= f.text_field :quantity, label: t('inventory.quantity') %>
  <%= f.check_box :disposable, label: t('inventory.disposable') %>
  <%= f.submit %>
<% end %>