<h2 class="page-header">
  <%= link_to organization_items_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left"></i>
  <% end %>
  <%= @item.title %>
  <small>
  <span class="pull-right">
    <%= link_to 'Edit', edit_organization_item_path(@item.organization_id, @item.id) %>
    <%= link_to 'Delete', organization_item_path(@item.organization_id, @item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  </small>
</h2>

<p>Item Quantity: <%= @item.quantity %></p>
<p>Disposable?: <%= @item.disposable %></p>

<a href="">Usage Report
  <i class="fa fa-area-chart fa-lg"></i>
  <i class="fa fa-bar-chart fa-lg"></i>
  <i class="fa fa-line-chart fa-lg"></i>
  <i class="fa fa-pie-chart fa-lg"></i>
</a>
