<% content_for :title, " | Courses" %>

<h2 class="page-header"><i class="fa fa-book"></i> Courses
  <small>
    <div id="search-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="course-search" type="text" class="form-control search" placeholder="Search">
      </div>
    </div>
    <span class="pull-right">
      <a href="" class="new" data-toggle="modal" data-target="#newCourseModal">
        <i class="fa fa-plus fa-lg"></i>
      </a>
    </span>
  </small>
</h2>

<%= will_paginate @courses %>

<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Course &nbsp;<i class="fa fa-sort"></i></th>
          <th>Instructor &nbsp;<i class="fa fa-sort"></i></th>
          <th class='icon'>Edit</th>
          <th class='icon'>Delete</th>
        </tr>
      </thead>
      <tbody id="courses-index">
        <%= render 'all_courses' %>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="newCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a New Course</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @new_course, layout: :horizontal, control_col: "col-sm-9", url: organization_courses_path do |f| %>
          <%= f.text_field :title %>
          <%= f.select(:instructor_id, @faculty) %>
          <%= f.submit %>
        <% end %>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
 -->    </div>
  </div>
</div>