<h2 class="page-header">
  <%= link_to organization_courses_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left"></i>
  <% end %>
  <%= @course.title %>
  <small>
  <span class="pull-right">
    <%= link_to 'Edit', edit_organization_course_path(@course.organization_id, @course.id) %>
    <%= link_to 'Delete', organization_course_path(@course.organization_id, @course.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </span>
  </small>
</h2>

<p>Instructor: <%= full_name(@course.instructor) if @course.instructor %></p>

<div id="student-selector" class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">Students</div>
    </div>
    <div class="event-students-table">
      <table id="available-students" class="table table-hover">
        <!-- <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead> -->
        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td><%= full_name(student) %></td>
            <td><a href="<%= @course.id %>/add_student/<%= student.id %>" class="add-student-course"><i class="fa fa-plus"></i></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="selected-students" class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="panel-title pull-left"> Enrolled Students - <span id="student-count"><%= @course.students.count %></span></div>
      <div class="pull-right">
        <a id="schedule-students" href="#"><i class="glyphicon glyphicon-option-horizontal" data-toggle="tooltip" data-placement="top" title="Add"></i></a>
      </div>
    </div>
    <div class="event-students-table">
      <table id="scheduled-students" class="table table-condensed">
        <!-- <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead> -->
        <tbody>
          <% @course.students.each do |student| %>
          <tr>
            <td><%= full_name(student) %></td>
            <td><a href="<%= @course.id %>/remove_student/<%= student.id %>" class="remove-student-course"><i class="fa fa-minus"></i></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
