<% content_for :title, " | #{@course.title}" %>

<h2 class="page-header">
  <%= link_to organization_courses_path(@organization), class: "back" do %>
    <i class="fa fa-angle-double-left fa-lg"></i>
  <% end %>
  <i class="fa fa-users"></i>
  <%= @course.title %>
  <small>
  <span class="pull-right">
    <a href="#" class="header-icon-right" data-toggle="modal" data-target="#editCourseModal">
      Edit <i class="fa fa-pencil"></i>
    </a>
    <%= link_to 'Delete', organization_course_path(@course.organization_id, @course.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'header-icon-right' %>
  </span>
  </small>
</h2>

<div class="row col-md-12 details">
  <h4>Instructor: <small><%= full_name(@course.instructor) if @course.instructor %></small></h4>
</div>


<div class="row col-md-12">
  <div class="col-md-6">

    <div id="search-n-go-parent">
      <label for="search">
        <i class="fa fa-search"></i>
      </label>
      <div class="form-group">
        <input id="<%= @course.id %>" type="text" class="form-control search-n-go modify-course-search" placeholder="Add Students">
      </div>
      <div class="search-results">
        <table class="table table-hover modify-search">
        </table>
      </div>
    </div>

  </div>
  <!-- Nav tabs -->
  <div class='col-md-6'>

    <!-- Tab panes -->
    <div class="panel panel-default">
        <div class="display-table">
          <table id="scheduled-students" class="table table-condensed table-hover">
            <%= render 'enrolled_students' %>
          </table>
        </div>
    </div>

  </div>
</div>

<div class="modal fade" id="editCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Course</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @course, layout: :horizontal, control_col: "col-sm-9", url: organization_course_path do |f| %>
          <%= f.text_field :title %>
          <%= f.select(:instructor_id, @faculty) %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>