<h2 class="page-header">Create a New Account</h2>

<%= bootstrap_form_for @organization, layout: :horizontal, control_col: "col-sm-9", url: organizations_path do |f| %>
  <%= f.text_field :title, label: "Organization Name" %>
  <%= f.text_field :subdomain %>
  <%= f.email_field :email, label: "Admin Email" %>
  <%= f.time_zone_select :time_zone, nil, :default => "Pacific Time (US & Canada)"%>
  <%= f.submit %>
<% end %>