<h2 class="page-header"><%= @organization.title %></h2>

<h3 class="page-header">Today's Events</h3>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.title, organization_event_path(event.organization_id, event.id) %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= link_to edit_organization_event_path(event.organization_id, event.id), class: "glyphicon" do %>
          <i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>
        <% end %>
        </td>
        <td><%= link_to organization_event_path(event.organization_id, event.id), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' }, class: "glyphicon" do %>
          <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>