<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "SimCentered" %></title>
  <%= favicon_link_tag 'sc-blue.ico' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
      <% if current_user %>
        <% if current_user.is_student %>
          <%= render "layouts/student" %>
        <% else %>
          <%= render "layouts/faculty" %>
        <% end %>
      <% else %>
        <%= render "layouts/unauthenticated" %>
      <% end %>
    </div>
  </nav>
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 -->
<%
  if controller.controller_name == 'home'
    id = 'home'
    klass = 'doctor'
  else
    id = 'main'
    klass = 'container'
  end
%>
<div id="<%= id %>" class="<%= klass %>">
  <%= yield %>
</div>

<div id="footer">
  <%= link_to "English", request.parameters.merge({locale: 'en'}) %> |
  <%= link_to "German", request.parameters.merge({locale: 'de'}) %> |
  <%= link_to "Italian", request.parameters.merge({locale: 'it'}) %>
</div>

<% if !current_user %>
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Log in</h4>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_for(:user, layout: :horizontal, control_col: "col-sm-9", url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" %>
            </div>
          <% end %>

          <%= link_to "Forgot your password?", new_password_path(:user) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

</body>
</html>
