<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "SimCentered" %></title>
  <%= favicon_link_tag 'sc-blue.ico' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= controller.controller_name %>" data-action="<%= controller.action_name %>">
  <nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
      <% if current_user %>
        <% if current_user.is_student %>
          <%= render "layouts/student" %>
        <% else %>
          <%= render "layouts/faculty" %>
        <% end %>
      <% else %>
        <%= render "layouts/unauthenticated" %>
      <% end %>
    </div>
  </nav>
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 -->
<%
  if controller.controller_name == 'home'
    id = 'home'
    klass = 'doctor'
  else
    id = 'main'
    klass = 'container'
  end
%>
<div id="<%= id %>" class="<%= klass %>">
  <%= yield %>
</div>

<div id="footer">
  <%= link_to "English", request.parameters.merge({locale: 'en'}) %> |
  <%= link_to "German", request.parameters.merge({locale: 'de'}) %> |
  <%= link_to "Italian", request.parameters.merge({locale: 'it'}) %>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

</body>
</html>
